<h1>Ember Sortables</h1>

{{#sort-pane
  group=1
  items=model.squadA as |sortable|}}
  {{#sortable.item as |item|}}
    {{item.content}}
  {{/sortable.item}}
{{/sort-pane}}

{{#sort-pane
  group=1
  items=model.squadB as |sortable|}}
  {{#sortable.item as |item|}}
    {{item.content}}
  {{/sortable.item}}
{{/sort-pane}}

{{#sort-pane
  group=2
  items=model.squadC as |sortable|}}
  {{#sortable.item as |item|}}
    {{item.content}}
  {{/sortable.item}}
{{/sort-pane}}

{{outlet}}